/*Universal*/
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Taviraj');

@media screen and (min-width: 700px) {
  h1 {
    font-size: 40px
  }
}

.background-image{
  min-height: 100vh;
}

.pacifico-text {
  font-family: 'Pacifico', cursive;
}
.taviraj.text{
  font-family:'Taviraj', serif;
}

/*Header*/
h1{
  font-size: 4em;
  color: white;
}
/*Navbar*/
.navbar{
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
  background-color: transparent;
  color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color: white;
  background-color: transparent;
  }
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
   color: white;
  }
.navbar-default .navbar-nav > li > a{
  color: white;
}
.background-image{
  background-image: url('../images/sunset.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
/*Jumbotron*/
.jumbotron{
  background-color: transparent;
  text-align: center;
}
img{
   width: 300px;
   border: 2px solid;
 }


@keyframes picture {
  from {height: 0px;}
  to {height: 300px;}
}

.element {
  animation: picture 1.5s ease-out none;
}
/*About*/
.panel {
  background-color: transparent;
  border: none;
  color: white;
  font-family:'Taviraj', serif;
  font-size: 20px;
  text-shadow: 1.5px 1.5px rgba(0, 0, 0, 1);
  margin-top: 30px;
}
.panel-title{
  font-size: 30px;
}
.panel-default > .panel-heading{
  background-color: transparent;
  border: none;
  color: white;
  font-family:'Taviraj', serif;
}
.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body{
  border: none;
}
/*Contact page Begins*/
h2{
  margin-top: 100px;
  color: white;
}
.contact{
  margin-top: 50px;
  color: white;
  font-size: 20px;
}
/*Footer starts here*/
.fa a{
  color: white;
}
footer{
  text-align: center;
}
